@import './hero.scss';
@import './skills.scss';

* {
  box-sizing: border-box
}

body {
  margin: 0;
}

main {
  height: 100vh;
}

.center {
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}